<div [ngClass]=" { 'seleccionada' : eventosServie.reservation.lounge.id == lounge.id}" class="divHotel">
    <carousel>
        <slide *ngFor="let image of loungeImages" style=" height: 17em">
            <img [src]="image.src" alt="{{image.alt}}" style="width: 100%; height: 100%; " />
        </slide>
       
    </carousel>
    <div class="col-md-12">
        <div class="col-md-12 text-center">
            <h5>
                {{lounge.name}}
            </h5>
        </div>
        <div *ngIf="showDesc" class="col-md-12 text-justify">
            <p class="col-md-12"> 
                {{lounge.description}}
            </p>
        </div>
    </div>
</div>
