<div class="col-md-10 col-md-offset-1">
    <form [formGroup]="formulario" (ngSubmit)="submit()" class="form-horizontal">
        <div class="row">
            <div class="col-md-4 border-right">
                <app-lounge-carousel [images]="lounge.images" [lounge]="lounge"></app-lounge-carousel>
            </div>
            <div class="col-md-8">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Datos empresa</h4>
                        </div>
                    </div>
                    <form [formGroup]="formulario" (ngSubmit)="submit()" class="form-horizontal">


                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label" for="">Nombre empresa</label>
                                </div>
                                <div class="col-md-8 ">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label" for="">NIT</label>
                                </div>
                                <div class="col-md-8 ">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label" for="">Fecha y hora inicio</label>
                                </div>
                                <div class="col-md-8 ">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label" for="">Numero verificacion</label>
                                </div>
                                <div class="col-md-8 ">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label" for="">Responsable evento</label>
                                </div>
                                <div class="col-md-8 ">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label" for="">Telefono fijo</label>
                                </div>
                                <div class="col-md-8 ">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label" for="">Telefono movil</label>
                                </div>
                                <div class="col-md-8 ">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <button (click)="goBack()" class="btn btn-default-colsubsidio col-md-offset-4 col-md-2">
                Atras
            </button>
            <button (click)="reservar()" class="btn  btn-default-colsubsidio col-md-2">
                Siguiente
            </button>

        </div>
    </div>
</div>