<form [formGroup]="formulario" (ngSubmit)="reservar()" class="form-horizontal">

    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-12">
            <div class="col-md-4 border-right">
                <app-lounge-carousel [images]="lounge.images" [lounge]="lounge"></app-lounge-carousel>
            </div>
            <div class="col-md-8">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h4>Datos empresa</h4>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label" for="">Nombre 
                                    <span class="text-danger validaciones"> *</span>
                                </label>
                            </div>
                            <div class="col-md-8 ">
                                <input type="text" formControlName="nameCompany" validacion [validaciones]="['requerido']"
                                    class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label" for="">NIT
                                    <span class="text-danger validaciones"> *</span>
                                </label>
                            </div>
                            <div class="col-md-4 ">
                                <input type="number" min="0" formControlName="NIT" validacion [validaciones]="['minimo : 0']"
                                    class="form-control">                                                                                                                                                               
                            </div>
                            <div class="col-md-1 no-margin-no-padding text-center">-</div>
                            <div class="col-md-3">
                                <input type="number" placeholder="" min="0" formControlName="numberVerification" validacion [validaciones]="['requerido','numerico']"
                                class="form-control">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label" for="">Correo
                                    <span class="text-danger validaciones"> *</span>

                                </label>
                            </div>
                            <div class="col-md-8 ">
                                <input type="email" formControlName="mail" validacion [validaciones]="['requerido','correo']"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
              
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label" for="">Responsable
                                    <span class="text-danger validaciones"> *</span>

                                </label>
                            </div>
                            <div class="col-md-8 ">
                                <input type="text" formControlName="responsable" validacion [validaciones]="['requerido']"
                                    class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label" for="">Teléfono fijo
                                    <span class="text-danger validaciones"> *</span>

                                </label>
                            </div>
                            <div class="col-md-8 ">
                                <div class="col-md-7 no-margin-no-padding">
                                    <input type="tel" formControlName="landline" validacion [validaciones]="['requerido']"
                                        class="form-control">
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" for="">ext</label>
                                </div>
                                <div class="col-md-3  no-margin-no-padding">
                                    <input type="number" min="0" formControlName="extLandline" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label" for="">Teléfono movil
                                    <span class="text-danger validaciones"> *</span>

                                </label>
                            </div>
                            <div class="col-md-8 ">
                                <input type="tel" formControlName="mobilePhone" validacion [validaciones]="['requerido']"
                                    class="form-control">

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-9 col-md-offset-4">
                <button (click)="goBack()" class="btn btn-default-colsubsidio col-md-offset-1  col-md-5  col-xs-6">
                    Atras
                </button>
                <button type="submit" class="btn  btn-primary-colsubsidio col-md-5   col-xs-6">
                    Siguiente
                </button>
            </div>
        </div>

    </div>
</form>