.container{
    background: #fff
}
.experiences-header {
    background: #fafafa
}
.experiences-content {
    padding-top: 20px;
    justify-content: center;
}

.border-right {
    border-right: 1px solid #d3d3d3;

}
.no-margin-no-padding {
    margin: 0%;
    padding: 0%;
}

.btn-default-colsubsidio {
    color: #1C3B91;
    border-color:#ccc;
}
.btn-primary-colsubsidio {
    background-color: #FBEE32;
    color: #1C3B91;
}
