<div [formGroup]="formulario" class="col-md-10 col-md-offset-1">
    <div class="col-md-12">
        <div class="col-md-4 border-right">
            <app-lounge-carousel [images]="lounge.images" [lounge]="lounge"></app-lounge-carousel>
        </div>

        <div class="col-md-8">
            <div class="col-md-12">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h4>Datos evento</h4>
                        </div>
                    </div>
                    <hr>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-5">
                                <label for="">Nombre evento</label>
                            </div>
                            <div class="col-md-7 ">
                                <p class="text-muted">
                                    {{reservation.nameEvent}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-5">
                                <label for="">Tipo evento</label>
                            </div>
                            <div class="col-md-7 ">
                                <p class="text-muted">{{reservation.experience.name}}</p>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-5">
                                <label for="">Numero de asistentes</label>
                            </div>
                            <div class="col-md-7 ">
                                <p class="text-muted">
                                    {{headquearterFilter.amountAttendingEventChildren+headquearterFilter.amountAttendingEventAdults }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-5">
                                <label for="">Fecha y hora inicio</label>

                            </div>
                            <div class="col-md-7 ">
                                <p class="text-muted">
                                    {{headquearterFilter.dateStart |date:'medium'}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-5">
                                <label for="">Fecha y hora Fin</label>
                            </div>
                            <div class="col-md-7 ">
                                <p class="text-muted">
                                    {{headquearterFilter.dateFinish |date:'medium'}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-5">
                                <label for="">Sede</label>
                            </div>
                            <div class="col-md-7 ">
                                <p class="text-muted" [innerHtml]="reservation.headquarte.name">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-5">
                                <label for="">Salon</label>
                            </div>
                            <div class="col-md-7 ">
                                <p class="text-muted">
                                    {{reservation.lounge.name}}
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <div class="col-md-12">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-12">
                        <div class="col-md-12" *ngIf="isPerson()">
                            <h4>Datos persona reserva</h4>
                        </div>
                        <div class="col-md-12" *ngIf="isCompany()">
                            <h4>Datos empresa reserva</h4>
                        </div>
                    </div>
                    <hr>
                    <div *ngIf="isPerson()">


                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <label for="">Nombre</label>
                                </div>
                                <div class="col-md-7 ">
                                    <p class="text-muted">
                                        {{person.namePerson}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <label for="">Cedula</label>
                                </div>
                                <div class="col-md-7 ">
                                    <p class="text-muted">
                                        {{person.cedula}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <label for="">Responsable</label>
                                </div>
                                <div class="col-md-7 ">
                                    <p class="text-muted">
                                        {{person.responsablePerson}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <label for="">Telefono movil</label>
                                </div>
                                <div class="col-md-7 ">
                                    <p class="text-muted">
                                        {{person.mobilePhonePerson}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <label for="">Telefono fijo</label>
                                </div>
                                <div class="col-md-7 ">
                                    <p class="text-muted">
                                        {{person.landlinePerson}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <label for="">Correo</label>
                                </div>
                                <div class="col-md-7 ">
                                    <p class="text-muted">
                                        {{person.mailPerson}}
                                    </p>
                                </div>
                            </div>
                        </div>



                    </div>

                    <div *ngIf="isCompany()">


                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <label for="">Nombre</label>
                                </div>
                                <div class="col-md-7 ">
                                    <p class="text-muted">
                                        {{company.nameCompany}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <label for="">NIT</label>
                                </div>
                                <div class="col-md-7 ">
                                    <p class="text-muted">
                                        {{company.NIT}}-{{company.numberVerification}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <label for="">Responsable</label>
                                </div>
                                <div class="col-md-7 ">
                                    <p class="text-muted">
                                        {{company.responsableCompany}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <label for="">Telefono movil</label>
                                </div>
                                <div class="col-md-7 ">
                                    <p class="text-muted">
                                        {{company.mobilePhoneCompany}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <label for="">Telefono fijo</label>
                                </div>
                                <div class="col-md-7 ">
                                    <p class="text-muted">
                                        {{company.landlineCompany}} - {{extLandline}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <label for="">Correo</label>
                                </div>
                                <div class="col-md-7 ">
                                    <p class="text-muted">
                                        {{company.mailCompany}}
                                    </p>
                                </div>
                            </div>
                        </div>



                    </div>




                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-5">
                                <label for="">Adicionales</label>
                            </div>
                            <div class="col-md-7 ">
                                <p class="text-muted">
                                    {{formulario.get('hasBreakfast').value ? "desayuno, " : ""}} {{formulario.get('hasLunch').value ? "Almuezo, " : ""}} {{formulario.get('hasRefreshmentAM').value
                                    ? "Refrigerio AM , " : ""}} {{formulario.get('hasRefreshmentPM').value ? "Refrigerio
                                    PM , " : ""}} {{formulario.get('hasDinner').value ? "Cena, " : ""}} {{formulario.get('hasIllumination').value
                                    ? "Iluminacion, " : ""}} {{formulario.get('hasProfessionalSound').value ? "Sonido profesional,
                                    " : ""}} {{formulario.get('hasDedicatedChannel').value ? "Canal dedicado, " : ""}} {{formulario.get('hasPallet').value
                                    ? "Tarima, " : ""}} {{formulario.get('hasTent').value ? "Carpa, " : ""}} {{formulario.get('hasSpeaker').value
                                    ? "Conferencista, " : ""}} {{formulario.get('hasTransport').value ? "Transporte, " :
                                    ""}} {{formulario.get('hasArtPresentations').value ? "Presentaciones Artisticas, " :
                                    ""}} {{formulario.get('others').value ? formulario.get('others').value : ""}}


                                </p>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="col-md-12">
        <div class="col-md-9 col-md-offset-5 col-xs-offset-4">
            <input id="termsAndConditions" formControlName="termsAndConditions" type="checkbox">
            <label for="termsAndConditions">
                <a href="./assets/documentacion/Politicas_Eventos.pdf" target="_blank"> Terminos y Condiciones
                </a>
            </label>
        </div>
    </div>


    <br>



    <div class="col-md-12">
        <div class="col-md-9 col-md-offset-4">
            <button (click)="goBack()" class="btn btn-default-colsubsidio col-md-offset-1 col-md-5  col-xs-6">
                Atras
            </button>
            <button (click)="reservar()" [attr.disabled]="formulario.get('termsAndConditions').value ? null :''" class="btn  btn-primary-colsubsidio  col-md-5  col-xs-6">
                Siguiente
            </button>

        </div>
    </div>
</div>