<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
    <form [formGroup]="formulario" (ngSubmit)="submit()" class="form-horizontal">
        <div class="">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="">Nombre Evento</label>
                </div>
                <div class="col-md-8 ">
                    <input formControlName="nameEvent" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="">
            
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="">Tipo evento</label>
                </div>
                <div class="col-md-8">
                    <select validacion [attr.disabled]="true" formControlName="eventTypeId" 
                        class="form-control">
                        <option [value]="null">Seleccione</option>
                        <option *ngFor="let eventType of eventsTypes" [value]="eventType.id">{{eventType.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="">Numero asistentes</label>
                </div>

                <div class="col-md-4">
                    <input validacion [validaciones]="['requerido']" min="0" formControlName="amountAttendingEventAdults" type="number"
                        class="form-control">
                    <span class="help-block">adultos<span class="text-danger validaciones"> *</span></span>  
                </div>
                <div class="col-md-4">
                    <input validacion min="0" formControlName="amountAttendingEventChildren"
                        type="number" class="form-control">
                    <span class="help-block">niños</span>
                </div>
              
            </div>
        </div>

        <div class="">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="">Ciudad</label>
                </div>
                <div class="col-md-8">
                    <select formControlName="cityId" class="form-control">
                        <option [value]="null">Seleccione</option>
                        <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>

                        
                    </select>
                </div>
            </div>
        </div>
        <div class="">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="">Fecha y hora inicio
                        <span class="text-danger validaciones"> *</span>
                    </label>
                </div>
                <div class="col-md-8 ">
                    <div class="input-group">
                        <input formControlName="dateStart"  placeholder="03/26/1998, 1:00 PM" 
                            [owlDateTimeTrigger]="dt2"  [owlDateTime]="dt2" class="form-control">
                        <owl-date-time 
                        panelClass="size"
                        backdropClass="size"
                        hour12Timer="true"
                         #dt2></owl-date-time>
                        <span [owlDateTimeTrigger]="dt2"
                         class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
        
                    </div>
                    <span class="text-danger validaciones" *ngIf="formulario.get('dateStart').invalid && formulario.get('dateStart').errors">
                        {{
                            formulario.get('dateStart').errors['error']
                        }}
                    </span>

                </div>
            </div>
        </div>
        <div class="">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="">Fecha y hora fin
                        <span class="text-danger validaciones"> *</span>
                    </label>
                </div>
                <div class="col-md-8 ">
                    <div class="input-group">
                        <input formControlName="dateFinish"  placeholder="04/26/1998, 5:00 PM" 
                            [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" class="form-control">
                        <owl-date-time
                        backdropClass="size"
                        panelClass="size"
                         hour12Timer="true" #dt3></owl-date-time>
                        <span [owlDateTimeTrigger]="dt3" class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                     
                    </div>
                    <span class="text-danger validaciones"
                     *ngIf="formulario.get('dateFinish').invalid && (formulario.get('dateFinish').dirty || formulario.get('dateFinish').touched)">
                       {{formulario.get('dateFinish').errors['error']}} 
                    </span>
                </div>
            </div>
        </div>
        <div class="">
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group" role="group">
                            <button routerLink="/experiencias" type="button" class="btn btn-default-colsubsidio">Atras</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-primary-colsubsidio">Buscar Sedes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>