.container{
    background: #fff
}
.experiences-header {
    background: #fafafa
}
.experiences-content {
    padding-top: 20px;
    justify-content: center;
}
.btn-default-colsubsidio {
    vertical-align: middle;
    background: #FEED01 none no-repeat scroll 0 0;
    color: #011F5B;
    padding: 10px 30px;
    font-weight: bold;
}
.border-right {
    border-right: 1px solid #d3d3d3;

}
breadcrumb.container-fluid {
margin: 0 !important;
padding: 0 !important;
}

h1 {
    color: #011F5B
}
h2 {
    color: #011F5B
}
h3 {
    color: #011F5B
}
h4 {
    color: #011F5B
}
h5 {
    color: #011F5B
}