<div class="container">

    <div class="row experiences-content">
        <section id="main">
            <div class="row">
                <div class="col-md-12 col-md-offset-1">
                    <button  *ngIf="headerService.showButtomBack" (click)="goBack()" class="btn btn-link"> <span class="fa fa-chevron-left"></span> atras</button>
                </div>
            </div>
            <div id="content">
                    <router-outlet></router-outlet>
            </div>
        </section>

    </div>
</div>