<div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-4 border-right">
                    <app-lounge-carousel [images]="lounge.images" [lounge]="lounge"></app-lounge-carousel>
                </div>
                <div class="col-md-8">
                    <div class="col-md-10 col-md-offset-1">
                   Se envio un correo al su email
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-4">
           
            
                <button (click)="terminar()" class="btn  btn-default-colsubsidio col-md-2">
                    Terminar
                </button>
    
            </div>
        </div>
    </div>