<div class="col-md-12">
    <div class="col-md-12">
        <div class="col-md-4 border-right">
            <app-lounge-carousel [images]="lounge.images" [lounge]="lounge"></app-lounge-carousel>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <div class="col-md-12 text-center ">
                <i class="fa fa-check-circle ok"></i>
            </div>
            <div class="col-md-12  text-center ">
                Se envio un correo a su email
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-9 col-md-offset-4">
            <button (click)="terminar()" class="btn btn-primary-colsubsidio col-md-10 col-md-offset-1  col-xs-12">
                Terminar
            </button>
        </div>
    </div>
</div>