/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
body{
    background: #F5F5F5 none no-repeat scroll 0 0;
    color: #202020 !important;    
    padding-bottom: 100px;
}
.row {
    margin: 0 !important;
    max-width: 100%!important;
}

.divHotel .carousel-inner,
.divHotel .left.carousel-control.carousel-control-prev{
    border-radius: 5px 0 0 5px;
}
.divRoom .carousel-inner,
.divRoom .left.carousel-control.carousel-control-prev{
    border-radius: 0;
}

.galleryRoom .item img{
    width: 160px;
    height: 125px;
    cursor: zoom-in;
}
.divHotel div.mat-tab-labels{
    text-align: center;
    display: block;
}
.divHotel div.mat-tab-labels .mat-tab-label .mat-tab-label-content{
    font-weight: bold;
}
.divHotel div.mat-tab-labels .mat-tab-label-active .mat-tab-label-content{
    color: #011F5B;
    font-weight: bold;
}
.divHotel .mat-tab-body-content{
    padding: 20px;
}
.divHotel .mat-ink-bar{
    height: 4px;
    background: #011F5B none no-repeat scroll 0 0;
}
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover{
    background-color: #011F5B;
    border-color: #011F5B;
}
.pagination > li > a:focus, 
.pagination > li > a:hover, 
.pagination > li > span:focus, 
.pagination > li > span:hover,
.pagination > li > a, 
.pagination > li > span{
    color: #011F5B;
}
.theme-green .bs-datepicker-head{
    background: #FEED01 none no-repeat scroll 0 0; 
}
.bs-datepicker-head button[disabled], 
.bs-datepicker-head button[disabled]:hover, 
.bs-datepicker-head button[disabled]:active{
    background: rgba(1, 31, 91, 0.3);
}
.bs-datepicker-head button[disabled], 
.bs-datepicker-head button[disabled]:hover, 
.bs-datepicker-head button[disabled]:active,
.bs-datepicker-head button,
.theme-green .bs-datepicker-body table td.week span{
    color: #011F5B;
}
.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]::after, .theme-green .bs-datepicker-body table td[class*="select-"] span::after{
    background: #011F5B none no-repeat scroll 0 0; 
}
.theme-green .bs-datepicker-head button.next span, 
.theme-green .bs-datepicker-head button.previous span{
    font-size: 25px;
}
.theme-green .bs-datepicker-head button.next{
    float: right;
}
@media (max-width: 640px) {
    .divHotel .carousel-inner,
    .divHotel .left.carousel-control.carousel-control-prev{
        border-radius: 5px 5px 0 0;
    }
    .divRoom .carousel-inner,
    .divRoom .left.carousel-control.carousel-control-prev{
        border-radius: 0;
    }
  
    .galleryRoom .item img{
        width: 100%;
        height: 125px;
    }
    .galleryIndex .item img{
        width: 100%;
        height: 150px;
    }
    .mat-dialog-container img,
    .mat-dialog-container mat-dialog-container,
    .mat-dialog-container{
        width: 100%;
        height: auto !important;
    }
    .mat-dialog-container{
        width: 100% !important;
        height: 33% !important;
        min-width: 100%;
        padding: 0 !important;
        background: transparent;
        box-shadow: none !important;
    }
}


owl-date-time-container {
    font-size :large !important ;

}


.example-error {
    color: red;
  }