<div  class="row" >

    <mat-tab-group class="tab-group">
        <mat-tab label="Información">
            <div class="tab-content">
                {{lounge.description}}
            </div>
        </mat-tab>
        <mat-tab label="Imágenes">
            <div class="tab-content">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </div>
        </mat-tab>
    </mat-tab-group>

    <div class="row">

        <div class="col-md-12">
            <button (click)="clearSeleccion()" class="btn btn-default-colsubsidio col-md-offset-4 col-md-2 col-xs-6">
                atras
            </button>
            <button (click)="reservar(lounge)" class="btn  btn-primary-colsubsidio col-md-2 col-xs-6">
                confirmar
            </button>

        </div>
    </div>
</div>

<br>
<br>